<!DOCTYPE html>
<html lang="en">
<head>
    <title>Siya</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/chat.css')}}">
    <script src={{url_for('static',filename='javascript/jquery.js')}}></script>
	</head>
<body>
<div class="message_box" id="messageBox">
<div id="chatbox" class="message_logs">
     <div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div>
     <div id="botdiv"><p id="botmsg" class="botText">
         Hello, I am Siya, your M&P assistant.<br> Click me or chat with me...<br>
         Let's Go..!! </p></div>
    <div id="optBtnDiv">
       <button class="btn  leftB" id="c&rApps" onclick="buttonClickGen('CR_BUTTON')" value="C&R Apps">C&R Apps</button>
        <button class="btn rightB " is="m&pEngapgment" onclick="buttonClickGen('Engagement')" value="M&P Engagement">M&P Engagement</button>
        <button class="btn leftB" id="risk" onclick="makeButtonRequest('Risk Overview')" value="Risk Overview">Risk Overview</button>
        <button class="btn rightB" id="teamSmeInfo" onclick="makeButtonRequest('M&P Team Info')" value="M&P Team Info">M&P Team Info</button>
        <button class="centerB" id="others"  onclick="makeOthersButton()" value="Others">Others</button>


    </div>

</div>
<div id="userInput" class="chat-form">
    <textarea type="text" id="inp" placeholder="Enter message" name="msg"></textarea>
    <button type="submit" id="dislike" value="Dislike" class="likeButton" >Dislike</button>
    <button type="submit" id="like" value="like" class="likeButton">Like</button>
</div>
    <img src="{{url_for('static',filename='images/LogoCenter.png')}}" id="imgCenter" alt="Image" onclick="trainingMode()" >
    <button type="submit" id="buttonInp" hidden="true" value="send">Send</button>

</div>
</body>
<script>
var bot_wrong_resp="";

var input = document.getElementById("inp");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("buttonInp").click();
   document.getElementById("inp").value="";
  }
});

function dislike()
{
var loading='<div id="botdiv2"><img id="loadPhoto" src="{{url_for('static',filename='images/load.gif')}}"></img></div>';
$("#chatbox").append(loading);
$.get("/dislike",{wrongRes:bot_wrong_resp}).done(function(data){
var load=document.getElementById("loadPhoto");
$("#loadPhoto").remove();
var ans="Apologies!! Let me Correct my response!!";
var botHtmlDislike='<div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div><div id="botdivwrong"><p id="botWrongMsg" class="botText">'+ans+ '</p></div>';

if(data.trim()=="")
{
data="oops!!, I am improving myself!!..";
}
var botHtml='<div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div><div id="botdiv"><p id="botmsg" class="botText">'+data+ '</p></div>';
$("#chatbox").append(botHtmlDislike);
$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;
});

}
function getBotResponse()
{
var rawText=$("#inp").val();
if(rawText.trim()=="")
{
alert("Please type a message");
return false;
}

var userHtml='<div id="userdiv2"><img id="userPhoto" src="{{url_for('static',filename='images/User1.jpg')}}"></img></div>'
+'<div id="userdiv"><p id="usermsg" class="userText">'+rawText +' </p></div>'
$("#inp").val("");
$("#chatbox").append(userHtml);
document.getElementById("userInput").scrollIntoView({block:'start',behaviout:'smooth'});

var loading='<div id="botdiv2"><img id="loadPhoto" src="{{url_for('static',filename='images/load.gif')}}"></img></div>';
$("#chatbox").append(loading);
$.get("/getResponse",{msg:rawText}).done(function(data){
var load=document.getElementById("loadPhoto");
$("#loadPhoto").remove();
bot_wrong_resp=data;
var botHtml='<div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div><div id="botdiv"><p id="botmsg" class="botText">'+data+ '</p></div>';

$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;
});


}

$("#buttonInp").click(function(){

var rawText=$("#inp").val();
rawText=rawText.trim();
var HELP='help';
if(HELP == rawText)
{

generateButtons();

return false;
}
getBotResponse();
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;

});

$("#dislike").click(function(){
dislike();
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;
});
function getResponseForButton(ques)
{
var loading='<div id="botdiv2"><img id="loadPhoto" src="{{url_for('static',filename='images/load.gif')}}"></img></div>';
$("#chatbox").append(loading);
$.get("/getResponse",{msg:ques}).done(function(data){
var load=document.getElementById("loadPhoto");
$("#loadPhoto").remove();
bot_wrong_resp=data;
var botHtml='<div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div><div id="botdiv"><p id="botmsg" class="botText">'+data+ '</p></div>';
$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;
});



}

function sleepHelpButtons(inp)
{
$("#loadPhoto").remove();
var inputBtnValue=inp;
var ques=""
if(inputBtnValue == "C&R Apps")
{
    makeCRButtons();
}
else if(inputBtnValue == "M&P Engagement")
{
    makeEngagementButtons();
}
else if(inputBtnValue == "Risk Overview")
{
    ques="RISK summary";
    getResponseForButton(ques);
}
else if(inputBtnValue == "M&P Team Info")
{
    ques="m&p team members";
    getResponseForButton(ques);
}
else
{
   //ques="others";
    //getResponseForButton(ques);
}



}


function makeButtonRequest(inp)
{
var loading='<div id="botdiv2"><img id="loadPhoto" src="{{url_for('static',filename='images/load.gif')}}"></img></div>';
$("#chatbox").append(loading);
setTimeout(sleepHelpButtons, 1000,inp);

}

function generateButtons()
{

  var buttonSet=  '<div id="optBtnDiv">'+
       '<button class="btn  leftB" id="c&rApp" onclick="makeButtonRequest(\'C&R Apps\')" value="C&R Apps">C&R Apps</button>'+
        '<button class="btn rightB " is="engagement" onclick="makeButtonRequest(\'M&P Engagement\')" value="M&P Engagement">M&P Engagement</button>'+
        '<button class="btn leftB" id="risk" onclick="makeButtonRequest(\'Risk Overview\')" value="Risk Overview">Risk Overview</button>'+
        '<button class="btn rightB" id="teamInfo" onclick="makeButtonRequest(\'M&P Team Info\')" value="M&P Team Info">M&P Team Info</button>'+
        '<button class="centerB" id="others"  onclick="makeButtonRequest(\'Others\')" value="Others">Others</button>'+
    '</div>';

    $("#chatbox").append(buttonSet);
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;

}
function trainingMode()
{
if(confirm("In Training mode"))
{
     window.open('http://127.0.0.1:5000/login');
}
}

function makeCRButtons()
{


$("#loadPhoto").remove();
var CRButtonRoot='<button  id ="crButton" class="centerBRoot" value="C&R Apps">C&R Apps</button>';
$("#chatbox").append(CRButtonRoot);
document.getElementById("crButton").style.backgroundColor="#ffc10769";

var CRBUTTONS_HTML='<table class="tableButtons td "><tr><td>'+
       '<button class="btn" id="dmr" onclick="makeButtonAlert(\'DMR\')" value="DMR">DMR</button></td>'+
        '<td><button class="btn" id="dm62" onclick="makeButtonAlert(\'DM 6.2\')" value="DM 6.2">DM 6.2</button></td>'+
        '<td><button class="btn"  id="dmc" onclick="makeButtonAlert(\'DMC\')" value="DMC">DMC</button></td></tr>'+
        '<tr><td><button  class="btn" id="dm41" onclick="makeButtonAlert(\'DM 4.1\')" value="DM 4.1">DM 4.1</button></td>'+
        '<td><button class="btn"  id="sacp" onclick="makeButtonAlert(\'SACP\')" value="SACP">SACP</button>'+
        '<td><button class="btn" id="casc81" onclick="makeButtonAlert(\'CASC 8.1\')" value="CASC 8.1">CASC 8.1</button></td>'+
        '</table>';

        $("#chatbox").append(CRBUTTONS_HTML);
        var chatHistory = document.getElementById("chatbox");
        chatHistory.scrollTop = chatHistory.scrollHeight;

}

function makeButtonAlert(data)
{
var loading='<div id="botdiv2"><img id="loadPhoto" src="{{url_for('static',filename='images/load.gif')}}"></img></div>';
$("#chatbox").append(loading);
setTimeout(CrAppSubButtons, 1000,data);

}
function CrAppSubButtons(data)
{
$("#loadPhoto").remove();
var DMRButtonRoot='<button  id ="clickedButton"class="centerBRoot" value="+data+">'+data+'</button>';
    $("#chatbox").append(DMRButtonRoot);


    var dmrSubButtons='<table class="tableButtons td "><tr><td>'+
       '<button class="btn" id="knowlwdgeHub" onclick="getResponseForButton(\' knowledge Hub response\')"  value="+data+">Knowledge Hub</button></td>'+
        '<td><button class="btn" id="Access"  value="Access" onclick="getResponseForButton(\' access button\')">Access</button></td></tr>'+
        '</table>';
        $("#chatbox").append(dmrSubButtons);
        var chatHistory = document.getElementById("chatbox");
        chatHistory.scrollTop = chatHistory.scrollHeight;
}


function makeEngagementButtons()
{
 $("#loadPhoto").remove();
var EngagementButtonRoot='<button  id ="engagementButton" class="centerBRoot" value="M&P Engagement">M&P Engagement</button>';
$("#chatbox").append(EngagementButtonRoot);
document.getElementById("engagementButton").style.backgroundColor="#ffc10769";

var EngagementBUTTONS_HTML='<table class="tableButtons td "><tr><td>'+
       '<button class="btn" id="internalProj" onclick= "getResponseForButton(\'internal project of M&P for Internal purpose\')" value="Internal Project">Internal Project</button></td>'+
        '<td><button class="btn" id="extProj" onclick= "getResponseForButton(\'external projects\')" value="External Project">External Project</button></td></tr>'+
        '</table>';
        $("#chatbox").append(EngagementBUTTONS_HTML);
        var chatHistory = document.getElementById("chatbox");
        chatHistory.scrollTop = chatHistory.scrollHeight;


}



function buttonClickGen(data)
{

var loading='<div id="botdiv2"><img id="loadPhoto" src="{{url_for('static',filename='images/load.gif')}}"></img></div>';
$("#chatbox").append(loading);

var buttonClickedCR="CR_BUTTON";
var buttonClickedEngagement="Engagement";

if(data==buttonClickedCR)
{
setTimeout(makeCRButtons, 1000);
}

else if(data==buttonClickedEngagement)
{
setTimeout(makeEngagementButtons, 1000);
}

}
</script>
</html>