<!DOCTYPE html>
<html lang="en">
<head>
    <title>Siya</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/chat.css')}}">
    <script src={{url_for('static',filename='javascript/jquery.js')}}></script>
	</head>
<body>
<div class="message_box" id="messageBox">
<div id="chatbox" class="message_logs">
     <div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div>
     <div id="botdiv"><p id="botmsg" class="botText">Hello, I am Siya. <br> How may I help You.. </p></div>
    <div id="optBtnDiv">
       <button class="btn  leftB" id="access" onclick="makeButtonRequest('Raise Access')" value="Raise Access">Raise Access</button>
        <button class="btn rightB " is="info" onclick="makeButtonRequest('Team Info')" value="Team Info">Team Info</button>
        <button class="btn leftB" id="status" onclick="makeButtonRequest('Status Check')" value="Status Check">Status Check</button>
        <button class="btn rightB" id="training" onclick="makeButtonRequest('Training Modules')" value="Training Modules">Training Modules</button>
    </div>

</div>
<div id="userInput" class="chat-form">
    <textarea type="text" id="inp" placeholder="Enter message" name="msg"></textarea>
    <button type="submit" id="dislike" value="Dislike" class="likeButton" >Dislike</button>
    <button type="submit" id="like" value="like" class="likeButton">Like</button>
</div>
    <img src="{{url_for('static',filename='images/LogoCenter.png')}}" id="imgCenter" alt="Image">
    <button type="submit" id="buttonInp" hidden="true" value="send">Send</button>

</div>
</body>
<script>
var bot_wrong_resp="";

var input = document.getElementById("inp");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("buttonInp").click();
   document.getElementById("inp").value="";
  }
});

function dislike()
{
var loading='<div id="botdiv2"><img id="loadPhoto" src="{{url_for('static',filename='images/load.gif')}}"></img></div>';
$("#chatbox").append(loading);
$.get("/dislike",{wrongRes:bot_wrong_resp}).done(function(data){
var load=document.getElementById("loadPhoto");
$("#loadPhoto").remove();
var ans="Apologies!! Let me Correct my response!!";
var botHtmlDislike='<div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div><div id="botdivwrong"><p id="botWrongMsg" class="botText">'+ans+ '</p></div>';

if(data.trim()=="")
{
data="oops!!, I am improving myself!!..";
}
var botHtml='<div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div><div id="botdiv"><p id="botmsg" class="botText">'+data+ '</p></div>';
$("#chatbox").append(botHtmlDislike);
$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;
});

}
function getBotResponse()
{


var rawText=$("#inp").val();
if(rawText.trim()=="")
{
alert("Please type a message");
return false;
}

var userHtml='<div id="userdiv2"><img id="userPhoto" src="{{url_for('static',filename='images/User1.jpg')}}"></img></div>'
+'<div id="userdiv"><p id="usermsg" class="userText">'+rawText +' </p></div>'
$("#inp").val("");
$("#chatbox").append(userHtml);
document.getElementById("userInput").scrollIntoView({block:'start',behaviout:'smooth'});

var loading='<div id="botdiv2"><img id="loadPhoto" src="{{url_for('static',filename='images/load.gif')}}"></img></div>';
$("#chatbox").append(loading);
$.get("/getResponse",{msg:rawText}).done(function(data){
var load=document.getElementById("loadPhoto");
$("#loadPhoto").remove();
bot_wrong_resp=data;
var botHtml='<div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div><div id="botdiv"><p id="botmsg" class="botText">'+data+ '</p></div>';

$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;
});


}

$("#buttonInp").click(function(){

var rawText=$("#inp").val();
rawText=rawText.trim();
var HELP='help';
if(HELP == rawText)
{

generateButtons();

return false;
}
getBotResponse();
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;

});

$("#dislike").click(function(){
dislike();
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;
});
function getResponseForButton(ques)
{
var loading='<div id="botdiv2"><img id="loadPhoto" src="{{url_for('static',filename='images/load.gif')}}"></img></div>';
$("#chatbox").append(loading);
$.get("/getResponse",{msg:ques}).done(function(data){
var load=document.getElementById("loadPhoto");
$("#loadPhoto").remove();
bot_wrong_resp=data;
var botHtml='<div id="botdiv2"><img id="botPhoto" src="{{url_for('static',filename='images/Bot1.jpg')}}"></img></div><div id="botdiv"><p id="botmsg" class="botText">'+data+ '</p></div>';
$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;
});



}

function makeButtonRequest(inp)
{
var inputBtnValue=inp;
var ques=""
if(inputBtnValue == "Raise Access")
{
    ques="what access?";
}
else if(inputBtnValue == "Team Info")
{
    ques="m&p team"
}
else if(inputBtnValue == "Status Check")
{
    ques="status check"
}
else
{
    ques="hello"
}

getResponseForButton(ques);

}

function generateButtons()
{
  var buttonSet=  '<div id="optBtnDiv">'+
       '<button class="btn  leftB" id="access" onclick="makeButtonRequest(\'Raise Access\')" value="Raise Access">Raise Access</button>'+
        '<button class="btn rightB " is="info" onclick="makeButtonRequest(\'Team Info\')" value="Team Info">Team Info</button>'+
        '<button class="btn leftB" id="status" onclick="makeButtonRequest(\'Status Check\')" value="Status Check">Status Check</button>'+
        '<button class="btn rightB" id="training" onclick="makeButtonRequest(\'Training Modules\')" value="Training Modules">Training Modules</button>'+
    '</div>';

    $("#chatbox").append(buttonSet);
var chatHistory = document.getElementById("chatbox");
chatHistory.scrollTop = chatHistory.scrollHeight;

}

</script>
</html>